<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!-- 别名 -->
    <typeAliases>
    	<typeAlias alias="fertilizer" type="com.lyyh.fertilizer.pojo.Fertilizer"/>
    	<typeAlias alias="tvalve" type="com.lyyh.tzgk.pojo.Tvalve"/>
    	<package name="com.lyyh.greenhouse.pojo"/>
    </typeAliases>
</configuration>